{% extends 'admindashboard/home.html' %}
{% load static %}


{% block title %}Customers{% endblock title %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Customers
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in  customers%}
                                    <tr>
                                        <td>{{user.user}}</td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>     
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <div class="d-flex justify-content-center fw-bold" style="background: orange; border-radius: 3px">
                                {% if users.has_previous %}
                                    <a style="margin-right: 10px; text-decoration: none; text-align: center; border-radius: 2px; width: 100px; cursor: pointer; background: red; color: black" href="{% url 'users' %}?page={{users.previous_page_number}}">Previous</a>
                                {% endif %}
                                {% if users.has_next %}
                                    <a style="margin-left: 10px; text-decoration: none; text-align: center; border-radius: 2px; width: 100px; cursor: pointer; background: green; color: black" href="{% url 'users' %}?page={{users.next_page_number}}">Next</a>
                                {% endif %}
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}