{% extends 'admindashboard/home.html' %}
{% load static %}


{% block title %}Dashboard{% endblock title %}

{% block content %}
    <div class="container-fluid my-4">
        <div class="row">
            <div class="col-md-12 fw-bold fs-3">Dashboard</div>
        </div>
        <div class="row">
            <div class="col-md-3 col-3 mb-3">
                <div class="card text-white bg-primary h-100">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Primary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-3 mb-3">
                <div class="card text-white bg-primary h-100">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Primary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-3 mb-3">
                <div class="card text-white bg-primary h-100">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Primary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-3 mb-3">
                <div class="card text-white bg-primary h-100">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Primary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"> 
                        User Charts
                    </div>
                    <div class="card-body">
                        <canvas class="chart" width="400" height="200"></camvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"> 
                        Customer Charts
                    </div>
                    <div class="card-body">
                        <canvas class="chart" width="400" height="200"></camvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}