
{% extends 'admindashboard/home.html' %}
{% load static %}
{% load humanize %}


{% block title %}View Orders{% endblock title %}

{% block content %}

<div class="container-fluid my-5">
    <div class="card mb-3 my-5" style="max-width: 600px;">
    {% for item in order_item %}
    <div class="row g-0 my-2">
      <h6 style="background: lightgray; padding: 5px; margin-bottom: 0;"> Ordered on {{item.date_added}}</h6>
      <div class="col-md-4 col-6">
        <img src="{{item.product.image.url}}" class="img-fluid rounded-start h-100" style="object-fit: cover;" alt="...">
      </div>
      <div class="col-md-8 col-6">
        <div class="card-body">
          <p class="card-text">Name: {{item.product.name}}</p>
          <p class="card-text">QTY: {{item.quantity}} </p>
          <p class="card-text">Track ID: {{item.order.transaction_id}} </p>
          <p class="card-text">Status: {{item.order.order_status}} </p>
          <p class="card-text"><small class="text-muted">&#8358;{{item.get_total|intcomma}}</small></p>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock content%}