/* Navbar Styling */
.btn {
    padding: .45rem 1.5rem .35rem;
}

#logoimg{
    width: 130px;
    height: 50px;
}

#badge{
    background: #0add08;
}
  
.gradient-custom {
/* fallback for old browsers */
    background: orange;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(254, 171, 5), rgb(248, 221, 71));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(254, 171, 5), rgb(248, 221, 71))
}


/* Mobile Search Button */
.searchbar{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 60px;
    background-color: #0add08;
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 250px;
    caret-color:red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}
/* Search button end styling */

/* Header Menu Style display none */
.header-mobile-menu{
    display: none;
}

/* Mobile Footer Menu Styling */
.mobile-menu{
    display: none;
    list-style:none; 
    text-align:center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
}
.mobile-menu ul{
    -webkit-box-shadow: 1px -2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px -2px 5px 0px rgba(0,0,0,0.75);
    list-style:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
    height: 80px;
}
.mobile-menu li{
   display: inline;
}
.mobile-menu li a{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
    color: #0add08;
    border: 1px solid orange;
    text-decoration: none;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(250, 255, 255))
}



@media only screen and (max-width: 768px) {
    .navbar{
        display: none;
    }
    .navbar-brand{
        display: none;
    }
    .navbar-toggler{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .mobile-menu li a{
        width: 60px;
        height: 50px;
        padding: 0;
        border-radius: 6px 6px;
        margin-top: 15px;
        margin-right: 20px;
    }
    .mobile-menu li .fas{
        height: 50px;
        padding: 0;
        margin-top: 14px;
    }
    /* Mobile Header Menu Styling */
  
    .header-mobile-menu{
        width: 100%;
        background: linear-gradient(to right, rgb(254, 171, 5), rgb(248, 221, 71))
    }
    .cart{
        margin-top: 17px;
    }
    .cart a{
        color: #0add08;
        margin-bottom: 5px;
        margin-top: 10px;
        height: 70px;
        background-color: #fff;
        border-radius: 30px;
        padding: 10px;
    }
}
@media (min-width: 280px) and (max-width: 320px){ 
    .mobile-menu li a{
        width: 45px;
        height: 50px;
        padding: 0;
        border-radius: 6px 6px;
        margin-top: 15px;
        margin-right: 15px;
    }
    .mobile-menu li .fas{
        height: 50px;
        padding: 0;
        margin-top: 14px;
    }
    .searchbar{
        margin-bottom: 10px;
        margin-top: 24px;
        height: 30px;
        background-color: #0add08;
        border-radius: 30px;
        padding: 10px;
    }

    .search_icon{
        height: 10px;
        width: 10px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:white;
        text-decoration:none;
    }
    .search_input{
        color: white;
        border: 0;
        outline: 0;
        margin-bottom: 20px;
        background: none;
        width: 0;
        caret-color:transparent;
        line-height: 10px;
        transition: width 0.4s linear;
    }
    
    .searchbar:hover > .search_input{
        width: 160px;
        caret-color:black;
        transition: width 0.4s linear;
    }

    .cart{

        margin-bottom: 30px;
    }

    .cart a{
        color: #0add08;
        margin-bottom: 20px;
        margin-top: 12px;
        height: 40px;
        background-color: #fff;
        border-radius: 30px;
    }
    
  }