{% extends 'main.html' %}
{% load static %}

{% block title%} Products {% endblock title %}

{% block content %}


<section id="vinch-container" class="container d-flex align align-items-center justify-content-center my-5">

    <div class="w-100">
      <h1 class="h1-vinch-special text-center fw-bold my-5">{{vinchs.category}}</h1>
      <div class="row">
        {% for vinchs in product_category %} 
          <div id="col" class="col-md-3 col-6">
            <div class="box-element prdouct">
              <img src="{{vinchs.image.url}}" style="object-fit: cover;" class="thumbnail" alt="...">
              <h6><strong>{{vinchs.name}}</strong></h6>
              <hr>
              <a class="btn btn-outline-success" href="{{vinchs.get_absolute_url}}">View</a>
              <h4>&#8358;{{vinchs.price}}</h4>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
   </section>
{% endblock content %}