{% extends 'main.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container my-5 py-5">
  <!--Section: Design Block-->
  <section>
    <div class="row">
     {% if display == True %}
     <div class="col-md-8 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0 text-font text-uppercase">Delivery address</h5>
        </div>
        <div class="card-body">
          <form id="form">
            {% csrf_token %}
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form11Example1" name="address" class="form-control" required>
                  <label class="form-label" for="form11Example1">Address</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form11Example2" name="city" class="form-control" required>
                  <label class="form-label" for="form11Example2">City</label>
                </div>
              </div>
            </div>
          
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="text" id="form11Example5" name="state" class="form-control" required>
              <label class="form-label" for="form11Example5">State</label>
            </div>

            <!--Country Input -->
            <div class="form-outline mb-4">
              <label for="country">Country</label>
                <select class="custom-select d-block form-control" name="country" id="country" required>
                  <option value="">Choose...</option>
                  <option>United States</option>
                  <option>United Kingdom</option>
                  <option>Canada</option>
                  <option>Nigeria</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
            </div>
            <!-- Number input -->
            <div class="form-outline mb-4">
              <input type="number" id="form11Example6" name="zipcode" class="form-control" required>
              <label class="form-label" for="form11Example6">Zipcode</label>
            </div>
              <button class="btn btn-primary btn-lg btn-block" id="make-payment" type="submit">Checkout</button>
          </form>
        </div>
      </div>
    </div>
    {% elif display == False %}
    
    </div>
     {% endif %}
      <div class="col-md-4 mb-4 position-static">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0 text-font">{{order.get_cart_items}} item(s) <span class="float-end"
                style="font-size: 13px ;"><button onclick="window.location='/cart';" class="btn btn-outline-success">Edit</button></span></h5>
          </div>
          <div class="card-body">
            {% for item in items %}
            <div class="row">
              <div class="col-md-4">
                <img src="{{item.product.image.url}}"
                  class="rounded-3" style="width: 100px;" alt="" />
              </div>
              <div class="col-md-6 ms-3">
                <span class="mb-0 text-price">&#8358;{{item.product.price|intcomma}}</span>
                <p class="mb-0 text-descriptions">{{item.product.name}}</p>
                {% comment %} <span class="text-descriptions fw-bold">Black</span> <span
                  class="text-descriptions fw-bold">UK 8</span> {% endcomment %}
                <p class="text-descriptions mt-0">Qty:<span class="text-descriptions fw-bold">{{item.quantity}}</span>
                </p>
              </div>
            </div>
            {% endfor %}
            <div class="card-footer mt-4">
              <ul class="list-group list-group-flush">
                {% comment %} <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 text-muted">
                  Shipping fee
                  <span>&#8358;5,000</span>
                </li> {% endcomment %}
                <li
                  class="list-group-item d-flex justify-content-between align-items-center px-0 fw-bold text-uppercase">
                  Total to pay
                  <span>&#8358;{{cart_total|intcomma}}</span>
                </li>
              </ul>
            </div>
            <a>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<script type="text/javascript">
  var shipping = '{{order.shipping}}'
  var total = '{{order.get_cart_total}}'
  var display = '{{display}}'

  document.getElementById('make-payment').addEventListener('click', function(e){
    submitFormData()
  })

  var form = document.getElementById('form')
    csrftoken = form.getElementsByTagName('input')[0].value


  function submitFormData(){
    console.log('Payment Button Clicked')
    console.log(display)

    var shippingInfo = {
        'address': null,
        'city': null,
        'state': null,
        'country': null,
        'zipcode': null,
        'total': total,
    }

    if(shipping == "True"){
        shippingInfo.address = form.address.value
        shippingInfo.city = form.city.value
        shippingInfo.state = form.state.value
        shippingInfo.country = form.country.value
        shippingInfo.zipcode = form.zipcode.value
    }
    console.log('Shipping Info:', shippingInfo)

    var url = '/process_order/'

    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type':'application/json',
            'X-CSRFToken': csrftoken,
        },
        body:JSON.stringify({'shipping':shippingInfo}),
    })
    .then((response) => response.json())
    .then((data) => {
        console.log('Success:', data);
        alert('Transaction completed');

        cart = {}
        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        
        window.location.href = "https://api.whatsapp.com/send?phone=2347019252129&text=I%20Vinch%20,I%20Just%20Ordered%20an%20item.%20Here%20is%20my%20Order%20ID%20{{order.id}}"
    })  
  } 
 </script>
{% endblock content %}