{% extends 'main.html' %}
{% load static %}

{% block title%} Products {% endblock title %}

{% block content %}

<section id="productview-container" class="container d-flex align align-items-center justify-content-center">
    <div class="w-100">
    <div class="card" style="max-width: 700px;">
        <div class="row my-5 g-0" style="height: 400px;">
            <div class="col-md-6 col-12" style="background: white; padding-top: 70px; border: 1px solid green">
                <img src="{{product.image.url}}" style="padding-left: 25px; padding-top: 30px; width: 95%; height: 250px; border-radius: 6px 6px 6px 6px" alt="...">
            </div>
            <div class="col-md-6 col-12" style="border: 1px solid green">
                <div class="card-body">
    
                    <h5 class="card-title fw-bold">{{product.name}}</h5>
                    <span style="font-size: 14px; margin-bottom: 2px">{{product.category}}</span>
                    <hr class="bg-danger border-2 border-top border-success">
                    <p class="card-text">{{product.description}}</p>
                    <hr class="bg-danger border-2 border-top border-success">
                    <span style="font-size: 15px; font-weight: bold;">IMAGES</span>
                    <div class="row">
                        <div class="col-md-2 col-2">
                            <img src="{{product.image.url}}" style="height: 35px; width: 35px; object-fit: cover;"  class="rounded-circle" alt="...">
                        </div>
                        <div class="col-md-2 col-2">
                            <img src="{{product.image.url}}" style="height: 35px; width: 35px; object-fit: cover;"  class="rounded-circle" alt="...">
                        </div>
                        <div class="col-md-2 col-2">
                            <img src="{{product.image.url}}" style="height: 35px; width: 35px; object-fit: cover;"  class="rounded-circle" alt="...">
                        </div>
                    </div>
                    <hr class="bg-danger border-2 border-top border-success">
                    <div class="d-flex align justify-content-between my-5">
                        <div>
                            <button onclick="window.location='/';" style="font-size: 12px; margin-bottom: 2px"class="btn btn-info"><i class="fas fa-cart-plus"></i> Continue Store</button>
                        </div>
                        <div>
                            <button data-product="{{product.id}}" data-action="add" class="btn btn-success update-cart" style="font-size: 12px; margin-bottom: 2px">Add To Cart</button>
                        </div>
                        <div>
                            <p>&#8358;2000</p>
                        </div>
                    </div>
                   
            </div>
        </div>
    </div>
</div>
</section>
{% endblock content %}