{% extends 'main.html' %}
{% load static %}

{% block title%} store {% endblock title %}

{% block content %}
   <section class="container d-flex align align-items-center justify-content-center">
        <div class="container-fluid">
            <div class="row mt-5">
                <h1 class="h1-local-market text-center fw-bold ">Local Market</h1>
                <div class="owl-carousel owl-theme">
                  {% for vinchs in vinch_products %} 
                    <div class="item mb-4">
                      <a href="#">
                        <div id="local-card" class="card border-0 shadow">
                              <img src="{% static 'img/jollofrice.jpg'%}" alt="jollof rice" class="card-img-top">
                              <div class="middle">
                                <div class="text"><button id="btn">{{vinchs.name}}</button></div>
                              </div>
                        </div>
                      </a>
                    </div> 
                  {% endfor%}
                </div>
            </div>
        </div>
   </section>
   <section id="vinch-container" class="container d-flex align align-items-center justify-content-center">
    <div class="w-100">
      <h1 class="h1-vinch-special text-center fw-bold">Vinch Specials</h1>
      <div class="row">
        {% for vinchs in vinch_products %} 
          <div id="col" class="col-md-4 col-6">
            <div class="box-element prdouct">
              <img src="{% static 'img/meatpie.jpg'%}" class="thumbnail" alt="...">
              <h6><strong>{{vinchs.name}}</strong></h6>
              <hr>
              <button class="btn btn-outline-secondary add-btn text-center">Add to Cart</button>
              <a class="btn btn-outline-success" href="{% url 'productview'%}">View</a>
              <h4>&#8358;{{vinchs.price}}</h4>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
   </section>
{% endblock content %}


