{% extends 'main.html' %}
{% load static %}

{% block title%} store {% endblock title %}

{% block content %}
   <section class="container d-flex align align-items-center justify-content-center">
        <div class="container-fluid">
            <div class="row mt-5">
                <h1 class="h1-local-market text-center fw-bold ">Local Market</h1>
                <div class="owl-carousel owl-theme">
                    <div class="item mb-4">
                        <div class="card border-0 shadow">
                            <img src="{% static 'img/jollofrice.jpg'%}" alt="jollof rice" class="card-img-top">
                            <div id="card-body" class="card-body">
                                <h4>Jollof Rice</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item mb-4">
                        <div class="card border-0 shadow">
                            <img src="{% static 'img/Friedplantain.jpg'%}" alt="jollof rice" class="card-img-top">
                            <div id="card-body" class="card-body">
                                <h4>Fried Plantain</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item mb-4">
                        <div class="card border-0 shadow">
                            <img src="{% static 'img/meatpie.jpg'%}" alt="jollof rice" class="card-img-top">
                            <div id="card-body" class="card-body">
                                <h4>Meat Pie</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
   <section id="vinch-container" class="container d-flex align align-items-center justify-content-center">
    <div class="w-100">
      <h1 class="h1-vinch-special text-center fw-bold">Vinch Specials</h1>
      <div class="row">
        <div id="col" class="col-md-4 col-6">
          <div class="box-element prdouct">
            <img src="{% static 'img/meatpie.jpg'%}" class="thumbnail" alt="...">
            <h6><strong>Vinch</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn text-center">Add to Cart</button>
            <a class="btn btn-outline-success" href="{% url 'productview'%}">View</a>
            <h4>&#8358;2000</h4>
          </div>
        </div>
        <div id="col" class="col-md-4 col-6">
          <div class="box-element product">
            <img src="{% static 'img/Friedplantain.jpg'%}" class="thumbnail" alt="...">
            <h6><strong>Vinch</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="{% url 'productview'%}">View</a>
            <h4 >&#8358;2000</h4>
          </div>
        </div>
        <div id="col" class="col-md-4 col-6">
          <div class="box-element product">
            <img src="{% static 'img/jollofrice.jpg'%}" class="thumbnail" alt="...">
            <h6><strong>Vinch</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="{% url 'productview'%}">View</a>
            <h4>&#8358;2000</h4>
          </div>
        </div>
        <div id="col" class="col-md-4 col-6">
          <div class="box-element product">
            <img src="{% static 'img/jollofrice.jpg'%}" class="thumbnail" alt="...">
            <h6><strong>Vinch</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="{% url 'productview'%}">View</a>
            <h4>&#8358;2000</h4>
          </div>
        </div>
        <div id="col" class="col-md-4 col-6">
          <div class="box-element prdouct">
            <img src="{% static 'img/meatpie.jpg'%}" class="thumbnail" alt="...">
            <h6><strong>Vinch</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="{% url 'productview'%}">View</a>
            <h4>&#8358;2000</h4>
          </div>
        </div>
        <div id="col" class="col-md-4 col-6">
          <div class="box-element product">
            <img src="{% static 'img/Friedplantain.jpg'%}" class="thumbnail" alt="...">
            <h6><strong>Vinch</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="{% url 'productview'%}">View</a> 
            <h4>&#8358;2000</h4>
          </div>
        </div>
      </div>
    </div>
   </section>
{% endblock content %}


